// Import Gutenberg variables
@import "node_modules/@wordpress/components/build-style/style";
@import "node_modules/@wordpress/base-styles/breakpoints";
@import "node_modules/@wordpress/base-styles/mixins";
@import "node_modules/@wordpress/base-styles/colors";
@import "node_modules/cropperjs/dist/cropper";

$accu-orange: #f05514;

// Hack to fix the Tooltip position of the top-right side close button in a Modal component.
.wpcom-thumbnail-editor__overlay {
	display: flex;
	justify-content: center;
	align-items: center;

	.components-modal {
		&__frame {
			@include break-small {
				transform: initial;
				position: relative;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}

	.wpcom-thumbnail-editor__tab-panel {
		background-color: $gray-100;
	}

	button.components-button:hover {
		color: $accu-orange;
	}

	.components-tab-panel__tabs-item::after {
		background: var(--wp-components-color-accent, $accu-orange);
	}

	.components-tab-panel__tabs-item:focus-visible::before {
		box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-accent, $accu-orange);
	}
}
