// Import Gutenberg variables
@import "node_modules/@wordpress/components/build-style/style";
@import "node_modules/@wordpress/base-styles/breakpoints";
@import "node_modules/@wordpress/base-styles/mixins";
@import "node_modules/@wordpress/base-styles/colors";
@import "node_modules/cropperjs/dist/cropper";

$accu-orange: #f05514;

// Hack to fix the Tooltip position of the top-right side close button in a Modal component.
.wpcom-thumbnail-editor__overlay {
	display: flex;
	justify-content: center;
	align-items: center;

	.components-modal__footer {
		box-sizing: border-box;
		border-top: 1px solid transparent;
		padding: 24px 32px 12px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 72px;
		width: 100%;
		z-index: 10;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.components-modal__footer .components-modal__footer-flooring {
		font-size: 1.2rem;
		font-weight: 600;
	}

	.components-modal__footer h1 {
		line-height: 1;
		margin: 0;
	}

	.components-modal__footer .components-modal__save-button {
		position: relative;
		left: 8px;
	}

	.components-modal__footer-flooring-container {

		.components-button.components-guide__back-button,
		.components-button.components-guide__forward-button,
		.components-button.components-guide__finish-button {
			position: unset;
			left: unset;
			right: unset;
		}
	}

	.components-modal__content .components-modal__footer {
		border-top-color: #ddd;
	}

	.components-modal__footer + p {
		margin-top: 0;
	}

	.components-modal__footer-heading-container {
		align-items: center;
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		justify-content: left;
	}

	.components-modal__footer-icon-container {
		display: inline-block;
	}

	.components-modal__footer-icon-container svg {
		max-width: 36px;
		max-height: 36px;
		padding: 8px;
	}

	.components-guide__page {
		margin-top: 60px;
	}

	.components-modal {
		&__content {
			margin-bottom: 72px;
		}

		&__frame {
			@include break-small {
				transform: initial;
				position: relative;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}

	.wpcom-thumbnail-editor__crops-tab-panel {
		display: flex;
		flex-direction: row;
	}

	button.components-button:hover {
		color: $accu-orange;
	}

	.components-tab-panel__tabs-item::after {
		background: var(--wp-components-color-accent, $accu-orange);
	}

	.components-tab-panel__tabs-item:focus-visible::before {
		box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-accent, $accu-orange);
	}
}
